{% extends 'base.html' %}
{% load custom %}
{% block page-container %}

    <div class="wrap-left">
        <div class="article-title-bg">
            {{ article_obj.title }}
        </div>
        <div class="article-title-brief">
            <span class="author-name">作者： {{ article_obj.author.name }}</span>
             <span class="time"style="margin-left: 15px">{{ article_obj.pub_date }}</span>
            <span>{%  filter_comment article_obj as comments %} </span>
                            <i class="icon icon-cmt" style="margin-left: 15px" ></i>
                            <em class="comment-num">{{ comments.comment_count }}</em>
                            <i class="icon icon-fvr"></i>
                            <em class="thumb-num">{{ article_obj.thumb_count }}</em>
        </div>
        <div class="article-content">
            <img class="article-detail-head-img"  src="/static/uploads/{{ article_obj.head_img|truncate_url }}">
            <div class="article-content article-content-font">
            {{ article_obj.content|safe }}
            </div>
        </div>
        <div class="Qr-code">
                <div class="praise-box transition js-like-article center-box " data-type="like">
                    <div class="praise-box-add"><i class="icon icon-article-zan-add"></i><span>+1</span></div>
                    <i class="icon icon-article-zan"></i><span class="num-favor">{{ article_obj.thumb_count }}</span>
                </div>
        </div>
        <div class="line-coment"></div>
        <div class="comment-box-title">说点什么？</div>
        <div class="comment-box">
            {% if request.user.is_authenticated %}
                <div class="new-comment-box">
                 <textarea class="comment-area" ></textarea>
                 <button type="button"  class="btn btn-article pull-right">评论</button>
                </div>

            {% else %}
                <div class="jumbotron">
                  <h4 class="text-center"><a class="btn-link" href="#">登录</a>后评论</h4>

                </div>
            {% endif %}
            <div class="comment-list">

            </div>
        </div>

    </div>
    <div class="wrap-right">

    </div>
    <div class="clear-both"></div>

{% endblock %}


{% block bottom-js %}
<script>
    function GetComments(){
        $.get("{% url 'get_comments' article_obj.id %}",function(callback){
            $(".comment-list").html(callback);

            //点击打开内嵌评论框
            $(".add-comment").click(function(){
                var new_comment_box_div = "<div class='new-comment-box-in'><textarea class='comment-area' rows='2'></textarea><button type='button' id='new-box-in-submit' class='btn btn-box-submit'>评论</button><button type='button' id='box-close' class='btn btn-box-close'>关闭</button></div>"
                $(".new-comment-box-in").remove();//删除之前的
                $(this).parent().append(new_comment_box_div);

            //关闭内嵌评论框
            document.getElementById("box-close").onclick=function() {
                $(this).parent().remove();
            }
            //内嵌评论框POST
            document.getElementById('new-box-in-submit').onclick=function(){
                var comment_text = $(".new-comment-box-in textarea").val();
                if (comment_text.trim().length <5){
                    alert("评论不能少于5个字sb");
                }else{
                    //post
                    var parent_comment_id = $(this).parent().prev().attr('comment-id');
                    $.post("{% url 'post_comment' %}",
                            {
                                'comment_type':1,
                                article_id:"{{ article_obj.id }}",
                                parent_comment_id:parent_comment_id,
                                'comment':comment_text.trim(),
                                'csrfmiddlewaretoken':getCsrf()
                            },//end post args
                            function(callback){
                                if (callback == 'post-comment-success'){
                                    $(".new-comment-box-in textarea").val("");
                                    GetComments();
                                }
                            })//end post
                    }
                }//end button click
            });
        });//end get
    }
    function getCsrf(){
        return $("input[name='csrfmiddlewaretoken']").val();
    }


    $(document).ready(function(){
        GetComments();//页面加载后先把评论加载出来
        $(".new-comment-box button").click(function(){
            var comment_text = $(".comment-box textarea").val();
            if (comment_text.trim().length <5){
                alert("评论不能少于5个字sb");
            }else{
                //post
                var parent_comment_id = $(this).parent().prev().attr('comment-id');
                $.post("{% url 'post_comment' %}",
                        {
                            'comment_type':1,
                            article_id:"{{ article_obj.id }}",
                            parent_comment_id:parent_comment_id,
                            'comment':comment_text.trim(),
                            'csrfmiddlewaretoken':getCsrf()
                        },//end post args
                        function(callback){
                            //console.log(callback);
                            if (callback == 'post-comment-success'){
                                var new_comment_box_div = $(".new-comment-box").clone(true);
                                $(".new-comment-box textarea").val("");
                                //在刷新评论之前,把评论框再放回文章 底部
                                var a = $(".comment-num").html();
                                var b = parseInt(a) + 1;
                                $(".comment-num").text(b);
                                GetComments(); //alert("post-comment-success");
                            }else if (callback == 'comment-num-out'){
                                 alert("歇会吧您！");
                            }
                })//end post
            }
        });//end button click
    });


    $(document).ready(function(){
        $(".praise-box").click(function () {
            $.post("{% url 'add_favor' %}",
                {
                  article_id:{{ article_obj.id }},
                  user_name:"{{ request.user.userprofile.name }}",
                 'csrfmiddlewaretoken':getCsrf(),
                },function (callback) {
                    var obj = jQuery.parseJSON(callback)
                    if(obj.status=='success') {
                        var temp = obj.data;
                        $('.num-favor').text(temp);
                        $('.thumb-num').text(temp);
                    }else{
                        alert("别瞎JB点");}
                })
        });//end button click
    });

</script>
{% endblock %}