{% extends 'base.html' %}
{% load custom %}
{% block page-container %}
    <div class="wrap-left" >
        <div class="mod-con">
        <div count="{{ article_count }}" class="new-article-remind hide" >
            <a href="{{ request.path }}">有<span></span>条新消息</a>
        </div>
            {% for article in article_list %}
                {% if forloop.counter == 1 %}
                <div class="big-pic-box">
                    <!--一级banner图-->
                    <div  class="big-pic">
                        <a href="{% url 'article_detail' article.id %}" target="_blank" class="transition" title="{{ article.title }}">
                            <div class="back-img">
                                <img src="/static/uploads/{{ article.head_img|truncate_url }}" alt="{{ article.title }}" >
                            </div>
                            <div class="big-pic-content">
                                <h1 class="t-h1">{{ article.title }}</h1>
                            </div>
                        </a>
                    </div>
                     {% elif forloop.counter == 2 %}
                    <!--二级banner图-->
                    <div  class="big2-pic big2-pic-index big2-pic-index-top">
                        <a href="{% url 'article_detail' article.id %}" class="back-img transition" target="_blank" title="{{ article.title }}">
                            <img class="lazy"  alt="{{ article.title }}" src="/static/uploads/{{ article.head_img|truncate_url }}" style="display: inline;">
                        </a>
                        <a href="{% url 'article_detail' article.id %}" target="_blank" title="{{ article.title }}">
                            <div class="big2-pic-content">
                                <h2 class="t-h1">{{ article.title }}</h2>
                            </div>
                        </a>
                    </div>

                    {% elif forloop.counter == 3 %}
                    <div  class="big2-pic big2-pic-index big2-pic-index-bottom">
                        <a href="{% url 'article_detail' article.id %}" class="back-img transition" target="_blank" title="{{ article.title }}">
                            <img class="lazy" alt="{{ article.title }}" src="/static/uploads/{{ article.head_img|truncate_url }}" style="display: inline;">
                        </a>
                        <a href="{% url 'article_detail' article.id %}" target="_blank" title="{{ article.title }}">
                            <div class="big2-pic-content">
                                <h2 class="t-h1">{{ article.title }}</h2>
                            </div>
                        </a>
                    </div>
                        </div>

                {% else %}

                <div class="article-box">
                    <div class="article-head-img col-md-4"style="padding-left: 0px;">
                        <a href="{% url 'article_detail' article.id %}" target="_blank" ><img src="/static/uploads/{{ article.head_img|truncate_url }}"></a>
                    </div>
                    <div class="article-brief col-md-8">
                        <a class="article-title" href="{% url 'article_detail' article.id %}" target="_blank">{{ article.title }}</a>
                        <div class="article-brief-info">
                            <a href="{% url 'user_comment' article.author.id %}" class="author-name">{{ article.author.name }}</a>
                            <span class="time">{{ article.pub_date|date_format }}</span>
                            <span>{%  filter_comment article as comments %} </span>
                            <i class="icon icon-cmt"></i>
                            <em>{{ comments.comment_count }}</em>
                            <i class="icon icon-fvr"></i>
                            <em>{{ article.thumb_count }}</em>
                        </div>
                        <div class="article-brief-text">
                            <p>{{ article.brief }}</p>
                        </div>
                    </div>
                </div>

                {% endif %}
            {% endfor %}
        </div>
        <div class="add—articles transition" data-cur-page ='2' >更多内容...</div>
    </div>


    <div class="wrap-right">
    <aside class="col-md-9 sidebar">
                <!-- start widget -->
<!-- end widget -->

<!-- start tag cloud widget -->
        <div class="widget">
            <h4 class="title">联系我们</h4>
            <div class="content community">
                <p>QQ群：xxxxxxxxx</p>
                <p><a href="http://wenda.ghostchina.com/" title="撩妹战区" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '问答社区'])"><i class="fa fa-comments"></i> 撩妹战区</a></p>
                <p><a href="http://weibo.com/u/1772462373" title="官方微博" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '官方微博'])"><i class="fa fa-weibo"></i> 官方微博</a></p>
            </div>
        </div>
        <!-- end tag cloud widget -->

        <!-- start widget -->
        <div class="widget">
            <h4 class="title">下载</h4>
            <div class="content download">
                <a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载Ghost'])">让你情不自己的APP</a>
            </div>
        </div>
        <!-- end widget -->

        <!-- start tag cloud widget -->
        <div class="widget">
            <h4 class="title">标签云</h4>
            <div class="content tag-cloud">
                <a href="/tag/jquery/">jQuery</a>
                <a href="/tag/ghost-0-7-ban-ben/">Ghost 0.7 版本</a>
                <a href="/tag/opensource/">开源</a>
                <a href="/tag/zhu-shou-han-shu/">助手函数</a>
                <a href="/tag/tag-cloud/">标签云</a>
                <a href="/tag/navigation/">导航</a>
                <a href="/tag/customize-page/">自定义页面</a>
                <a href="/tag/static-page/">静态页面</a>
                <a href="/tag/roon-io/">Roon.io</a>
                <a href="/tag/configuration/">配置文件</a>
                <a href="/tag/upyun/">又拍云存储</a>
                <a href="/tag/upload/">上传</a>
                <a href="/tag/handlebars/">Handlebars</a>
                <a href="/tag/email/">邮件</a>
                <a href="/tag/shortcut/">快捷键</a>
                <a href="/tag/yong-hu-zhi-nan/">用户指南</a>
                <a href="/tag/theme-market/">主题市场</a>
                <a href="/tag/release/">新版本发布</a>
                <a href="/tag-cloud/">...</a>
	        </div>
        </div>
        <!-- end tag cloud widget -->

    </aside>
</div>


    <div class="clear-both">



    </div>

{% endblock %}


{% block bottom-js %}
<script>
    function getCsrf(){
        return $("input[name='csrfmiddlewaretoken']").val();
    }

    $(document).ready(function() {
        $(".add—articles").click(function(){
        var box = $('.add—articles'),page_num = box.attr('data-cur-page')

            $.post("/bbs/get_articles/{{ category_index }}/",
                {
                    'page_num':page_num,
                    'csrfmiddlewaretoken':getCsrf()
                },
                function (callback) {
                        callback = jQuery.parseJSON(callback);
                        if(callback.success=='success'){
                            //console.log(callback);
                            $(".mod-con").append(callback.data);
                            box.attr('data-cur-page',callback.page_num)
                         }else if(callback.success=='fail-forward'){
                            alert('没有了，亲')
                        }
                }
            )
         });
    });


    $(document).ready(function () {
        var new_article_refresh = setInterval(function(){
            var now_article_count = $('.new-article-remind').attr('count');
            $.getJSON("{% url 'get_new_article_num' %}",{last_num:now_article_count},function(callback){
                if (callback.new_article_num > 0){
                    if ($(".new-article-remind").hasClass("hide")){
                        $(".new-article-remind").removeClass("hide");
                    }
                    $(".new-article-remind span").html(callback.new_article_num );
                }//end if callback.new_article_count >0

            });

        },30000);
    });




</script>

{% endblock %}
