{% extends 'base.html' %}
{% load custom %}
{% block page-container %}
    <body class="bg-f5">
    <div class="wrap-left">
        <div class="tg-top-info-warp">
            <div class="title">投稿</div>
        </div>
        {% for item in article_form %}
            <p class="errors-remind" style="color:red;">{{ item.errors }}</p>
        {% endfor %}
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="tg-info-box">
                <div class="new-article-title">文章标题</div>
                <ul>
                    <li>
                        <label>
                            {{ article_form.title }}
                        </label>
                    </li>
                </ul>
            </div>

            <div class="tg-info-box">
                <div class="new-article-title">文章简介</div>
                <ul>
                    <li>
                        <label>
                            {{ article_form.brief }}
                        </label>
                    </li>
                </ul>
            </div>
            <div class="tg-info-box">
                <div class="new-article-title">内容</div>
                <div class="space-white"></div>
                {{ article_form.content }}
            </div>
            <div class="tg-info-box">
                <div class="new-article-title">分类</div>
                <ul>
                    <li>
                        <label>
                            <div class="styled-select">{{ article_form.category }}</div>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="tg-info-box">
                <div class="new-article-title">上传图片</div>
                <div class="space-white"></div>
                <a class="head-img-file">选择文件{{ article_form.head_img }}</a>
            </div>
            <div class="tg-info-box">
                <div class="new-article-title">状态</div>
                <ul>
                    <li>
                        <label>
                            <div class="styled-select">{{ article_form.status }}</div>
                        </label>
                    </li>
                </ul>
            </div>


            <input type="submit" class="btn btn-article pull-right" value="发贴">
        </form>

    </div>
    <div class="clear-both">

    </div>
    </body>
{% endblock %}
{% block bottom-js %}
    <script src="/static/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('id_content');

    </script>
{% endblock %}

