{% extends 'base.html' %}
{% load custom %}
{% block page-container %}
    <body class="bg-f5">
    <div class="wrap-left">
        <div class="tg-top-info-warp">
            <div class="title">投稿</div>
        </div>
        <div class="nav-warp">
                <ul>
                    <li class=""><a href="{% url 'new_article'  %}">博文</a></li>
                    <li class="active"><a href="{% url 'new_short_article' %}">段子</a></li>
                    <li class=""><a href="#">美图</a></li>
                </ul>
        </div>
            <div class="form-errors" style="margin-top: 10px;">
                {% for item in short_article_form %}
                    {{ item.errors }}
                {% endfor %}
            {{ short_article_form.non_field_errors }}
            </div>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="tg-info-box">
                <div class="new-article-title">文章标题</div>
                <ul>
                    <li>
                        <label>
                            {{ short_article_form.title }}
                        </label>
                    </li>
                </ul>
            </div>

            <div class="tg-info-box">
                <div class="new-article-title">内容</div>
                <div class="space-white"></div>
                {{ short_article_form.content }}
            </div>
            <div class="tg-info-box">
                <div class="new-article-title">标签</div>
                <ul>
                    <li>
                        <label>
                            <div class="styled-select">{{ short_article_form.tag }}</div>
                        </label>
                    </li>
                </ul>
            </div>

            <div class="tg-info-box">
                <div class="new-article-title">状态</div>
                <ul>
                    <li>
                        <label>
                            <div class="styled-select">{{ short_article_form.status }}</div>
                        </label>
                    </li>
                </ul>
            </div>


            <input type="submit" class="btn btn-article pull-right" value="发贴">
        </form>

    </div>
     <div class="clear-both">

    </div>
    </body>
{% endblock%}
