<!DOCTYPE html>
<html lang="zh-CN" class=" overthrow-enabled" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="/static/bootstrap/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
 <div class="search d5">
	<form action="https://btso.pw/search" target="_blank"  >
	  <input type="text" name="keyword" placeholder="搜索从这里开始...">
	  <button type="submit"></button>
	</form>
 </div>
</body>
</html>