{% extends 'bbs/user_detail.html' %}
{% load custom %}
{% block user-content %}
    <div class="user-menu-warp">
        <div class="menu-warp">
            <ul>
                {% if request.user.userprofile.id == user_info.id %}
                    <li class=""><a href="{% url 'user_detail' request.user.userprofile.id %}">我的消息</a></li>
                    <li class=""><a href="{% url 'user_comment' request.user.userprofile.id %}">我的评论</a></li>
                    <li class=""><a href="{% url 'user_article' request.user.userprofile.id %}">我的文章</a></li>
                    <li class="active"><a href="{% url 'user_draft' request.user.userprofile.id %}">我的草稿</a></li>
                    <li class=""><a href="{% url 'user_like_article' request.user.userprofile.id %}">赞过的文章</a></li>
                {% else %}
                    <li class=""><a href="{% url 'user_comment' request.get_full_path|get_end_arg %}">TA的评论</a></li>
                    <li class=""><a href="{% url 'user_article' request.get_full_path|get_end_arg %}">TA的文章</a></li>
                    <li class=""><a href="{% url 'user_like_article' request.get_full_path|get_end_arg %}">TA赞过的文章</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="user-content-warp">
             <ul class="nav-box">
                <li class="active"><a href="{% url 'user_draft' user_info.id %}">博文({{ draft_count }})</a></li>
                <li class=""><a href="{% url 'user_short_draft' user_info.id %}">段子</a></li>
            </ul>
            <div class="message-box">
                {% if draft_list %}
                    {% for article in draft_list %}
                        <div class="mod-b mod-art ">
                            <a href="javascript:void(0);" id="{{ article.id }}" onclick="_confirm_del(this.id);"
                               class="del-draft" style="margin-top: 40px"></a>
                            <a class="transition" href="{% url 'modify_draft' article.id %}" target="_blank">
                                <div class="mod-thumb">
                                    <img class="lazy" src="/static/uploads/{{ article.head_img|truncate_url }}"
                                         alt="{{ article.title }}">
                                </div>
                            </a>

                            <div class="mob-ctt">
                                <h3><a href="{% url 'modify_draft' article.id %}" class="transition"
                                       target="_blank">{{ article.title }}</a>
                                </h3>
                                <div class="mob-author"><span class="time">{{ article.pub_date|date_format }}</span>
                                </div>
                                <div class="mob-sub">{{ article.brief }}</div>
                            </div>
                        </div>
                    {% endfor %}

                    <nav class="page-nav">
                        <ul class="pagination">
                            <li><a href="?page=1" aria-label="First"><span aria-hidden="true"><i
                                    class="icon icon-first"></i></span></a></li>
                            {% if draft_list.has_previous %}
                                <li><a href="?page={{ draft_list.previous_page_number }}"
                                       aria-label="Previous"><span aria-hidden="true"><i
                                        class="icon icon-lt"></i></span></a></li>
                            {% else %}
                                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true"><i
                                        class="icon icon-lt"></i></span></a></li>
                            {% endif %}
                            <li class="active">
                                <a>
                                    {{ draft_list.number }}
                                </a>
                            </li>
                            {% if draft_list.has_next %}
                                <li><a href="?page={{ draft_list.next_page_number }}"> <i class="icon icon-gt"></i></a>
                                </li>
                            {% else %}
                                <li class="disabled"><a href="#"> <i class="icon icon-gt"></i></a></li>
                            {% endif %}
                            <li><a href="?page={{ draft_list.paginator.num_pages }}"><i
                                    class="icon icon-last"></i></a></li>
                        </ul>
                    </nav>
                {% else %}
                    <div class="no-content-prompt">没存过草稿，亲</div>
                {% endif %}

            </div>
        </div>
    </div>

    <script>
        function _confirm_del(id) {
            zeroModal.confirm({
                content: '确定删除草稿吗？',
                contentDetail: '提交后将不能进行修改。',
                okFn: function () {
                    var url = "del_draft/" + id
                    $.get(url, function (callback) {
                        if (callback == 'success') {
                            location.reload();
                        } else {
                            zeroModal.error('删除失败');
                        }
                    });
                }

            });
        }
    </script>
{% endblock %}